<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% trans %}Create Godown Popup{% endtrans %}</title>
  </head>
  <body>
    <div id="addgodownmodal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
        <div class="modal-header">
    	    <div class="modal-title">
    	      {% trans %}Create Godown{% endtrans %}
    	    </div>
    	  </div>
        <div class="modal-body">
          <div class="panel shadow">
        		<div class="panel-body">
        			<div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>

        				{% trans %}Godown created successfully.{% endtrans %}
        			</div>
        			<div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>

        				{% trans %}Godown could not be created.{% endtrans %}
        			</div>

        			<div class="alert alert-danger" id="duplicate-godown-alert"  aria-live="rude" role="alert" hidden>

        				{% trans %}Godown already exists!{% endtrans %}
        			</div>
        			<div class="col-sm-6">
        				<div class="alert alert-danger" id="godownname-blank-alert"  aria-live="rude" role="alert" hidden>

        					{% trans %}Please enter godown name!{% endtrans %}
        				</div>
        				<div class="form-group">
        					<label for="godownname" id="godnname">{% trans %}Godown Name{% endtrans %} : </label><label for="godownname" style="color:red;font-size: 120%;">*</label>
        					<input type="text" id="godownname" class="form-control input-sm" name="godownname"></input>
        				</div>
        				<div class="alert alert-danger" id="stateblank-alert"  aria-live="rude" role="alert" hidden>

        					{% trans %}Please Select State!{% endtrans %}
        				</div>


        				<div class="form-group">
        					<label for="godownstate" id="godnstate">{% trans %}State{% endtrans %} : </label><label for="godownstate" style="color:red;font-size: 120%;">*</label>
        					<select id="godownstate" class="form-control input-sm">
        						<option value="" disabled selected hidden>Select a State</option>
        						<option value="Andaman and Nicobar Islands" stateid="1">Andaman and Nicobar Islands</option>
        						<option value="Andhra Pradesh" stateid="2">Andhra Pradesh</option>
        						<option value="Arunachal Pradesh" stateid="3">Arunachal Pradesh</option>
        						<option value="Assam" stateid="4">Assam</option>
        						<option value="Bihar" stateid="5">Bihar</option>
        						<option value="Chandigarh" stateid="6">Chandigarh</option>
        						<option value="Chhattisgarh" stateid="7">Chhattisgarh</option>
        						<option value="Dadra and Nagar Haveli" stateid="8">Dadra and Nagar Haveli</option>
        						<option value="Daman and Diu" stateid="9">Daman and Diu</option>
        						<option value="Delhi" stateid="10">Delhi</option>
        						<option value="Goa" stateid="11">Goa</option>
        						<option value="Gujarat" stateid="12">Gujarat</option>
        						<option value="Haryana" stateid="13">Haryana</option>
        						<option value="Himachal Pradesh" stateid="14">Himachal Pradesh</option>
        						<option value="Jammu and Kashmir" stateid="15">Jammu and Kashmir</option>
        						<option value="Jharkhand" stateid="16">Jharkhand</option>
        						<option value="Karnataka" stateid="17">Karnataka</option>
        						<option value="Kerala" stateid="19">Kerala</option>
        						<option value="Lakshadweep" stateid="20">Lakshadweep</option>
        						<option value="Madhya Pradesh" stateid="21">Madhya Pradesh</option>
        						<option value="Maharashtra" stateid="22">Maharashtra</option>
        						<option value="Manipur" stateid="23">Manipur</option>
        						<option value="Meghalaya" stateid="24">Meghalaya</option>
        						<option value="Mizoram" stateid="25">Mizoram</option>
        						<option value="Nagaland" stateid="26">Nagaland</option>
        						<option value="Odisha" stateid="29">Odisha</option>
        						<option value="Pondicherry" stateid="31">Pondicherry</option>
        						<option value="Punjab" stateid="32">Punjab</option>
        						<option value="Rajasthan" stateid="33">Rajasthan</option>
        						<option value="Sikkim" stateid="34">Sikkim</option>
        						<option value="Tamil Nadu" stateid="35">Tamil Nadu</option>
        						<option value="Telangana" stateid="36">Telangana</option>
        						<option value="Tripura" stateid="37">Tripura</option>
        						<option value="Uttar Pradesh" stateid="38">Uttar Pradesh</option>
        						<option value="Uttarakhand" stateid="39">Uttarakhand</option>
        						<option value="West Bengal" stateid="41">West Bengal</option>
        					</select>
        				</div>
        				<div class="alert alert-danger" id="addressblank-alert"  aria-live="rude" role="alert" hidden>

        					{% trans %}Please enter address!{% endtrans %}
        				</div>
        				<div class="form-group">
        					<label for="godownaddress" id="godnaddress">{% trans %}Address{% endtrans %} : </label><label for="godownaddress" style="color:red;font-size: 120%;">*</label>
        					<textarea type="text" id="godownaddress" class="form-control" name="godownaddress"></textarea>
                  <small id="gdtextareahelp" class="form-text text-muted">Press 'Enter' Key twice to shift focus to Contact Person.</small>
        				</div>
        				</div>
        			<div class="col-sm-6">
        				<div class="form-group">
        					<label for="godowncontactname" id="godnname">{% trans %}Contact Person{% endtrans %} : </label>
        					<input type="text" id="godowncontactname" class="form-control input-sm" name="godownname"></input>
        				</div>
        				<div class="form-group">
        					<label for="godowncontact" id="godncontact">{% trans %}Contact Number{% endtrans %} : </label>
        					<input type="text" id="godowncontact" class="form-control input-sm" name="godowncontact"></input>
        				</div>
        			</div>
        		</div>
        		<div class="panel-footer">
        			<div class="container-fluid">
        				<button type="submit" class="btn btn-success btn-sm" id="gdnsubmit">{% trans %}<i class="fa fa-floppy-o" aria-hidden="true"></i> Save{% endtrans %}</button>
        			</div>
        		</div>
        	</div>

        </div>
  	  </div>
  	</div>
</div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/creategodownpopup.js')}}"></script>
  </body>
</html>
