<style>
 .fixed-edit-table td {
    font-size: 75%;
    padding: 4 !important;
    margin: 4 !important;
  }
.fixed-edit-table tbody {
    display:block;
    height: calc(100vh - 38em);
    min-height: 125px;
    overflow-y:scroll;
}

.fixed-edit-table thead ,.fixed-edit-table tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.fixed-edit-table thead {
    width: calc( 100% - 0.75em )
}
</style>
<body>
  <div class="container-fluid" style="padding: 1 !important; margin: 0 !important;">
  <div class="alert alert-danger" id="cant-edit-alert"  aria-live="rude" role="alert" hidden>

    {% trans %}This category cannot be edited as there are products under it.{% endtrans %}
  </div>
    <div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Category edited.{% endtrans %}
    </div>
    <div class="alert alert-success" id="success-delete-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Category deleted!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Something went wrong!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="failure-delete-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Cannot delete category!{% endtrans %}<br>
    </div>

    <div class="panel shadow category_edit_panel">

      <div class="panel-body">
        <div class="alert alert-danger" id="category-blank-alert"  aria-live="rude" role="alert" hidden>

          <label for="vno">{% trans %}Category name cannot be left blank!{% endtrans %}</label>
        </div>
        <form>
          <div class="container-fluid row">
            <div class="col-md-6 selcat">
              <div class="form-group">
                <label for="category_edit_list" id="category_edit_list_lbl">{% trans %}List of Categories :{% endtrans %}</label>
                <select class="form-control input-sm" id="category_edit_list">
                  <option value="" disabled selected hidden>{% trans %}Select Category{% endtrans %}</option>
                  {% for categories in gkresult %}
                  <option value="{{categories['categorycode']}}">{{categories["categoryname"]}} ({{categories["subcount"]}})</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            </div>
            <div id="category_edit_innerdiv" hidden>
            <div class="row container-fluid">
            <div class="col-md-6">
              <div class="alert alert-danger" id="spec-blank-alert"  aria-live="rude" role="alert" hidden>

                <label for="vno">{% trans %}Please enter specification name!{% endtrans %}</label>
              </div>
              <div class="alert alert-danger" id="category-lastspec-alert"  aria-live="rude" role="alert" hidden>
                <label for="vno">{% trans %}Minimum one spec required!{% endtrans %}</label>
              </div>
              <div class="form-group" hidden>
                <label for="category_edit_under">{% trans %}Category:{% endtrans %}</label>
                <select class="form-control category_edit_disable input-sm" id="category_edit_under">
                  <option value="" selected>{% trans %}Primary{% endtrans %}</option>
                  {% for categories in gkresult %}
                  <option value="{{categories['categorycode']}}">{{categories["categoryname"]}} ({{categories["subcount"]}})</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="category_edit_name">{% trans %}New Name of Category :{% endtrans %}</label>
                <input class="form-control category_edit_disable input-sm" id="category_edit_name" placeholder="{% trans %}Enter category name{% endtrans %}">
              </div>

            </div>
            </div>
            <div class="row container-fluid">
              <div class="col-md-6">
                <div class="panel">
                  <table id="category_edit_spec_table" class="table table-condensed table-bordered fixed-edit-table">
                    <thead class="bg-primary input-sm">
                      <tr>
                        <th class="col-xs-8 text-center">{% trans %}Spec Name{% endtrans %}</th>
                        <th class="col-xs-3 text-center">{% trans %}Type{% endtrans %}</th>
                        <th class="col-xs-1"></th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>

                <small id="navigation" class="form-text text-muted">{% trans %}Press 'Ctrl + <' and 'Ctrl + >' to navigate through fields of specification and tax.{% endtrans %}</small><br>
                <small id="spectotaxhelp" class="form-text text-muted">{% trans %}Press 'Esc' Key on specification Type to shift to Tax Name.{% endtrans %}</small>
              </div>
          <div class="col-md-6">

            <div class="alert alert-danger" id="tax-name-blank-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Select tax name!{% endtrans %}
            </div>
            <div class="alert alert-danger" id="tax-rate-blank-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Enter tax rate!{% endtrans %}
            </div>
            <div class="alert alert-danger" id="tax-duplicate-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Duplicate Tax!{% endtrans %}
            </div>
            <div class="form-group">
              <div class="panel">
                  <input value="{{vatorgstflag}}" id="vatorgstflag" hidden>
                  <table id="category_edit_tax_table" class="table table-condensed table-bordered fixed-edit-table">
                    <thead class="bg-primary input-sm">
                      <tr>
			<th class="col-xs-4 text-center">{% trans %}Tax Name{% endtrans %}</th>
			<th class="col-xs-4 text-center">{% trans %}State{% endtrans %}</th>
			<th class="col-xs-3 text-center">{% trans %}Rate %{% endtrans %}</th>
			<th class="col-xs-1"></th>
                      </tr>
                    </thead>
                    <tbody>
		      <tr value="New">
			<td class="col-xs-4">
                          <select class="form-control category_edit_disable input-sm tax_name">

                            <option value="" selected disabled hidden>Select Tax</option>
                            {% if vatorgstflag =='22' %}
                              <option value="VAT">VAT</option>
                              <option value="CVAT">CVAT</option>
                            {% else %}
                              <option value="VAT">VAT</option>
                              <option value="CVAT">CVAT</option>
			      <option value="IGST">IGST</option>
                            {% endif%}

                          </select>
			</td>
			<td class="col-xs-4">
                          <select class="form-control input-sm tax_state category_edit_disable" >
                            <option value="" hidden disabled selected>None</option>
                            {% for state in states %}
			      {% for key, value in state.items() %}
				<option value="{{value}}" stateid="{{key}}">{{value}}</option>
			      {% endfor %}
			    {% endfor %}
                          </select>
			</td>
			<td class="col-xs-3">
                          <input class="form-control input-sm tax_rate text-right numtype category_edit_disable"  placeholder="Rate">
			</td>
			<td class="col-xs-1">
			  <a href="#" class="tax_del"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
			</td>
                      </tr>
                    </tbody>
                  </table>
		  <div class="col-xs-12 row">
		    <small id="taxtospechelp" class="form-text text-muted">{% trans %}Press 'Ctrl + <' on tax name to shift to specification name. {% endtrans %}</small>
</br>
<small id="taxtosavehelp" class="form-text text-muted">{% trans %}Press 'Esc' Key on Rate to shift to Save Button.{% endtrans %}</small><br>
		  </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        </div>
        <div class="panel-footer" hidden>
          <div class="container-fluid">
          <button class="btn btn-primary btn-sm" id="category_edit_edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans %}Edit{% endtrans %}</button>
          <button class="btn btn-success category_edit_disable btn-sm" id="category_edit_savespecs" disabled data-toggle="tooltip" data-placement="top" title="{% trans %}Press Insert key anywhere on the current screen to save{% endtrans %}">{% trans %}<i class="fa fa-floppy-o" aria-hidden="true"></i> Save{% endtrans %}</button>
          <button class="btn btn-danger btn-sm" id="category_edit_delete"><i class="fa fa-trash-o" aria-hidden="true"></i> {% trans %}Delete{% endtrans %}</button>
          <button class="btn btn-warning btn-sm" id="category_edit_reset" accesskey=""><i class="fa fa-refresh" aria-hidden="true"></i> {% trans %}Reset{% endtrans %}</button>
        </div>
        </div>
      </div>

      <div id="confirm_del" class="modal fade" tabindex="-1" role="dialog">
        <div class="vertical-alignment-helper">
          <div class="modal-dialog modal-sm vertical-align-center">
            <div class="modal-content">
              <div class="modal-header">

                <h4 class="modal-title">{% trans %}Delete?{% endtrans %}</h4>
              </div>
              <div class="modal-body">
                <p>{% trans %}Are you sure?{% endtrans %}</p>
              </div>
              <div class="modal-footer">
                <button type="button" id ="m_cancel" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> {% trans %}No{% endtrans %}</button>
                <button type="button" id="accdel" data-dismiss="modal" class="btn btn-danger"><i class="fa fa-check" aria-hidden="true"></i> {% trans %}Yes{% endtrans %}</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div>
      </div><!-- /.modal -->

    </div>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/editcategory.js')}}"></script>
  </body>
