
<html>
  <head>
    <meta charset="utf-8">
    <title>GNUKhata</title>
    <style>
    @page {
      size: 21cm 29.7cm;
      margin: 10mm 3mm 15mm 10mm; /* change the margins as you want them to be. */
    }
    td {
      font-size: 75%;
      padding: 2px !important;
      margin:  0 !important;
    }
    body {
       background-image: none;
   }
    th {
      font-size: 85%;
      padding: 3px !important;
      margin:  0 !important;
    }
		table { page-break-inside:auto }
		tr    { page-break-inside:avoid; page-break-after:auto }
    thead { display: table-header-group; }
    tfoot { display: table-footer-group; }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">

      <div class="col-xs-6">
        <div class="row">
        <div class="col-xs-6" id="logo_div">

            <div class="img-thumbnail img-circle ">
              <div style="position: relative; padding: 0; cursor: pointer;" type="file">
             <img class="img-circle"  style="width: 100px; height: 100px;" id="imgbox">
              </div>
            </div>
        </div>
        <div class="col-xs-6">
          <h4>{{org["orgname"]}}</br>
            <small>
              {% if org["orgaddr"]!='' %}
              {{org["orgaddr"]}},
              {% endif %}
              {% if org["orgcity"]!='' %}
              </br>{{org["orgcity"]}} - {{org["orgpincode"]}},
              {% endif %}
              {% if org["orgstate"]!='' %}
            </br>{{org["orgstate"]}}.
              {% endif %}
              {% if org["orgtelno"]!='' %}
            </br>Contact No.: {{org["orgtelno"]}}
              {% endif %}
              {% if org["orgemail"]!='' %}
              <br>Email : {{org["orgemail"]}}
              {% endif %}
              {% if org["orgfax"] %}
              <br>Fax : {{org["orgfax"]}}
              {% endif %}
              {% if org["orgwebsite"]!='' %}
              <br>Website : {{org["orgwebsite"]}}
              {% endif %}
          <br></small></h4>

        </div>
      </div>
        <hr style="border-color:grey;margin-top:0px; margin-bottom:0px;">
        {% if godown!='' %}
        <h4><small>Godown: {{godown["goname"]}}
          <br>{{godown["goaddr"]}},<br>{{godown["state"]}},
          {% if godown["contactname"]!='' %}
          <br>Contact : {{godown["contactname"]}} - {{godown["gocontact"]}}
          {% endif %}
        </small></h4>
        <hr style="border-color:grey;margin-top:0px; margin-bottom:0px;">
        {% endif %}
        To,
        <h4>{{cust["custname"]}}</br><small>{{cust["custaddr"]}},</br>{{cust["state"]}}
          {% if cust["custphone"]!='' %}
          <br>Contact No.: {{cust["custphone"]}}
          {% endif %}
          {% if cust["custemail"]!='' %}
          <br>Email : {{cust["custemail"]}}
          {% endif %}
        </small></h4>
      </div>
      <div class="col-sm-offset-1 col-sm-5">
        <h2 class="text-right">Delivery Note</h2><br>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="col-xs-5">
                <strong>Note No.</strong>
              </td>
              <td class="text-right">
                {{dcno}}
              </td>
            </tr>
            <tr>
                <td class="col-xs-5">
                  <strong>Date</strong>
                </td>
                <td class="text-right">
                  {{dcdate}}
                </td>
            </tr>
            <tr>
              <td class="col-xs-5">
                <strong>Type</strong>
              </td>
              <td class="text-right">
                {{notetype}}
              </td>
            </tr>
            </tbody>
        </table>
      </div>
    </div>



    <div class="row">
      <div class="col-xs-12">

        <table class="table table-bordered table-condensed" style="margin-bottom:0px;">
            <thead class="bg-primary" style="border-bottom-style:double; border-top-style:double;">
              <tr>
                <th>
                  Description
                </th>
                <th class="text-right">
                  Qty
                </th>
              </tr>
            </thead>
          <tbody>
            {% for set in tableset %}
            <tr>
              <td>
                {{set["productdesc"]}}
              </td>
              <td class="text-right">
                {{set["qty"]}}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <hr style="border-color:grey;margin-top:0px; margin-bottom:0px;">
      </div>
    </div>


      <div class="row">
      <div class="col-xs-7">
        <label for="notes" class="hidden-print">Notes :</label>
        <textarea name="name" row='3' id="notes" class="form-control hidden-print" id="notes"></textarea>
        <p class="visible-print" id = "notespara">
        </p>
      </div>

      </div>
      <br>
      <div class="row">
        <div class="col-xs-6">
          <strong><i>Thank you for your business!</i></strong>
        </div>
        <div class="text-right col-xs-6">
          <strong>{{issuername}}</strong>
          {% if designation!='' %}
          <i>({{designation}})</i>
          {% endif %}
        </div>
      </div>
      <span style="margin:auto; display:table;">
    		<button type="button" class="btn btn-sm btn-danger hidden-print" id="delchalback" accesskey="b">{% trans %}<u>B</u>ack{% endtrans %}</button>
    		<button type="button" class="btn btn-sm btn-info hidden-print" id="delchalprint" >{% trans %}Prin<u>t</u>{% endtrans %}</button>
    	</span>
    </div>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/printdeliverychallan.js')}}"></script>
  </body>
</html>
