<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}List of Products{% endtrans %}</title>
  <style type="text/css">

  td {
  	font-size: 65%;
  	color: black;
  }

  th {
  	font-size: 70%;
  }

  @page {
    size : 21cm 29.7cm;
    margin : 10mm 10mm 20mm 10mm
  }
  thead{
    display: table-header-group;
  }
  tfoot{
    display: table-footer-group;
  }
  .rightlist {
    text-align: right;
  }
  .srno{
     width: 6%;
  }
  .prdct{
     width: 59%;
  }
  .type{
     width: 8%;
  }
  .categrs{
     width: 20%;
  }
  .um{
     width: 7%;
  }
  </style>
</head>
<body>
  <span class="printorgdetails hidden-print" style="margin:auto; display:table;"><strong>{% trans %}List of Products{% endtrans %}</strong></span>

  <div class="table-responsive printorgdetails">
    <table class="table table-condensed table-bordered table-striped shadow">
      <thead class="bg-primary">
        <tr class="visible-print">
          <th colspan="5" style="text-align:center; font-size:80%;">
            {% trans %}List of Products{% endtrans %}
          </th>
        </tr>
        <tr>
          <th class="col-xs-1 srno" >
            {% trans %}Sr. No.{% endtrans %}
          </th>
          <th class="col-xs-5 prdct prdserv" >
            {% trans %}Product{% endtrans %}
          </th>
          <th class="col-xs-2 type" >
            {% trans %}Type{% endtrans %}
          </th>
          <th class="col-xs-3 categrs" >
            {% trans %}Category{% endtrans %}
          </th>
          <th class="col-xs-2 um" >
            {% trans %}UOM{% endtrans %}
          </th>
        </tr>
      </thead>
      <tbody>

        {% for record in gkresult %}
        <tr	value="{{record["productcode"]}}">
          <td class="col-xs-1 srno" >
            {{record["srno"]}}
          </td>
          <td class="col-xs-5 prdct">
            {{record["productdesc"]}}
          </td>
          <td class="col-xs-3 type" >
            {% if record['gsflag'] == 7 %}
            Product
            {% else %}
            Service
            {% endif %}
          </td>
          <td class="col-xs-3 categrs" >
            {{record["categoryname"]}}
          </td>
          <td class="col-xs-2 um" >
            {{record["unitname"]}}
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
    <span style="margin:auto; display:table;">
  		<button type="button" class="btn btn-sm btn-danger hidden-print" id="loaback" accesskey="b">{% trans %}<u>B</u>ack{% endtrans %}</button>
  		<button type="button" class="btn btn-sm btn-info hidden-print" id="loaprint" accesskey="t">{% trans %}Prin<u>t</u>{% endtrans %}</button>
  	</span>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      oninvoice = 0;
      $("title").html("GNUKhata")
      $("#loaprint").click(function(event) {
        window.print();
      });
      $("#loaback").click(function(event) {
        $("#listofstockitems").click();
      });
      if (sessionStorage.vatorgstflag == 22) {
        $(".type").hide();
        $(".prdserv").text("Product");
      }
      else {
        $(".type").show();
        $(".prdserv").text("Product / Service");
      }
    });
  </script>

</body>
</html>
